<h1>Edit Instagaram Entry </h1>

<%= form_for(@entry) do |f| %>
   
    <%= f.label :description %>
    <%= f.text_field :description %>

	<%= f.label :images %>
	<%= f.file_field :images, multiple: true %>

	<%= f.submit %>
<% end %>




