<h1>Welcome to Instagaram</h1>
<% if current_user %>
  Logged in as <%= current_user.email %>.
  <%= link_to'Log Out', logout_path %>
<% else %>
  <%= link_to 'Sign Up', signup_path %> or 
  <%= link_to 'Log In', login_path %>
<% end %>

<p id=”notice”><%= notice %></p>

<h2>Upload Photos to Instagram</h2>
<%= link_to 'All Entries', controller: 'listings' %>
<%= link_to 'New Entries', controller: 'listings' %>


<h2>Search  </h2>
<%= form_tag(search_path, method: :get ) do %>
  Captions: <%= text_field_tag :description %><br/>
  <%= submit_tag 'Search', name: nil %>
<% end %>


<h2>Users</h2>
<% User.all.each do |user| %>
	<ul>
		<li>id: <%= user.id %></li>
		<li>email:  <%= link_to user.email, user_path(user) %></li>
	</ul>

<% end %>



<h1>Cloneinstagaram</h1>
<p>Back to Square One, where it all began. Share to the world and have fun.</p>


    <div id="map"></div>
    
    <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -34.397, lng: 150.644},
          zoom: 8
        });
      }
    </script>
   <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }

    </style>







