<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAT6Y916z1FrcjWZ0Z6J12iMJQPkwUEwWk&callback=initMap"
    async defer></script>

  </head>


  <body>
  <%= button_to 'Home', root_path, method: :get %>
   <div>
      <% if current_user %>
        Signed in as <strong><%= current_user.name %></strong>!
        <%= link_to "Sign out", signout_path, id: "sign_out" %>
      <% else %>
        <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %>
      <% end %>
    </div>
    <div>


  <%= yield %>


  </body>
  <script>
  $("#entries-search").on("keyup", function(){
    autocomplete()
  });
  function autocomplete(){
    $.ajax({
      url: '/entries',
      type: 'GET',
      data: $("#entries-search").serialize(), //takes the form data and authenticity toke and converts it into a standard URL
      contentType: 'application/json; charset=utf-8', // this
      dataType: 'json', //specify what type of data you're expecting back from the servers
      error: function() {
          console.log("Something went wrong");
      },
      success: function(data) { //this data is what is being sent back from listings
        console.log(data)
        $("#list").html("");
        data.forEach(function(element) {
          var option = document.createElement("option");
          option.value = element;
          //append option to list
          $("#list").append(option);
        });
      }
    });
  }
</script>
</html>
